<a href="https://colab.research.google.com/github/dg154/Language_Detection_Model/blob/main/Language_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/content/Language Detection.csv")

In [3]:
df.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10337 entries, 0 to 10336
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      10337 non-null  object
 1   Language  10337 non-null  object
dtypes: object(2)
memory usage: 161.6+ KB

In [5]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [6]:
nltk.download('stopwords')
stop_words = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [7]:
df.isnull().sum()

Text        0
Language    0
dtype: int64

In [8]:
df['Language'].unique()

array(['English', 'Malayalam', 'Hindi', 'Tamil', 'Portugeese', 'French',
       'Dutch', 'Spanish', 'Greek', 'Russian', 'Danish', 'Italian',
       'Turkish', 'Sweedish', 'Arabic', 'German', 'Kannada'], dtype=object)

In [9]:
df['Language'].value_counts()

Language
English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: count, dtype: int64

In [10]:
df['Language'].nunique()

17

#Downsampling the data as it is an imbalenced Dataset
\

In [11]:
English = df[df['Language']=='English']
French = df[df['Language']=='French']
Spanish = df[df['Language']=='Spanish']
Portugeese = df[df['Language']=='Portugeese']
Italian = df[df['Language']=='Italian']
Russian = df[df['Language']=='Russian']
Sweedish = df[df['Language']=='Sweedish']
Malayalam = df[df['Language']=='Malayalam']
Dutch = df[df['Language']=='Dutch']
Arabic = df[df['Language']=='Arabic']
Turkish = df[df['Language']=='Turkish']
German = df[df['Language']=='German']
Tamil = df[df['Language']=='Tamil']
Danish = df[df['Language']=='Danish']
Kannada = df[df['Language']=='Kannada']
Greek = df[df['Language'] == 'Greek']

In [12]:
from sklearn.utils import resample

In [13]:
English_downsample = resample(English,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
French_downsample = resample(French,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Spanish_downsample = resample(Spanish,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Portugeese_downsample = resample(Portugeese,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Italian_downsample = resample(Italian,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Russian_downsample = resample(Russian,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Sweedish_downsample = resample(Sweedish,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Malayalam_downsample = resample(Malayalam,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Dutch_downsample = resample(Dutch,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Arabic_downsample = resample(Arabic,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Turkish_downsample = resample(Turkish,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
German_downsample = resample(German,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Tamil_downsample = resample(Tamil,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Danish_downsample = resample(Danish,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Kannada_downsample = resample(Kannada,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)
Greek_downsample = resample(Greek,
                              replace = True,
                              n_samples = len(Greek),
                              random_state = 42)

In [14]:
data_downsample = pd.concat([
    English_downsample,
    French_downsample,
    Spanish_downsample,
    Portugeese_downsample,
    Italian_downsample,
    Russian_downsample,
    Sweedish_downsample,
    Malayalam_downsample,
    Dutch_downsample,
    Arabic_downsample,
    Turkish_downsample,
    German_downsample,
    Tamil_downsample,
    Danish_downsample,
    Kannada_downsample,
    Greek_downsample
])

In [15]:
data_downsample['Language'].value_counts()

Language
English       365
French        365
Spanish       365
Portugeese    365
Italian       365
Russian       365
Sweedish      365
Malayalam     365
Dutch         365
Arabic        365
Turkish       365
German        365
Tamil         365
Danish        365
Kannada       365
Greek         365
Name: count, dtype: int64

In [16]:
data_downsample.head()

                                                   Text Language
1126  no worries imagine you came home and there are...  English
860   Due to its generality, the field is studied in...  English
1294                   unfortunately, i have to say no.  English
1130  if you ask somebody not to be upset not to cry...  English
1095  so if you are just about to embark on your jou...  English

In [17]:
import re
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [18]:
def clean(text):
  text = text.lower()
  text = re.sub(r"[$!@#%^&*()_+-={}:,>.]","",text)
  text = word_tokenize(text)
  text = [word for word in text if word not in stop_words]
  text = " ".join(text)
  return text

In [19]:
data_downsample['clean_text'] = data_downsample['Text'].apply(clean)

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [21]:
x = data_downsample.iloc[:, 2]  # Text column
y = data_downsample.iloc[:, 1]  # Labels

In [22]:
x.head()

1126      worries imagine came home friends sitting couch
860     due generality field studied many disciplines ...
1294                                    unfortunately say
1130            ask somebody upset cry say n't take heart
1095                                       embark journey
Name: clean_text, dtype: object

In [23]:
vectorizer1 = CountVectorizer(ngram_range = (1,3) , analyzer = 'char')

In [24]:
x1 = vectorizer1.fit_transform(x)

In [25]:
x_train , x_test , y_train , y_test = train_test_split(x1 , y , test_size = 0.2 , random_state = 42)

In [26]:
model1 = LogisticRegression()
model1.fit(x_train , y_train)
model1.score(x_test , y_test)

0.988013698630137

In [27]:
user = input("enter the text: ")
text = vectorizer1.transform([user]).toarray()
output = model1.predict(text)
print(output)

enter the text: മലയാളം
['Malayalam']

In [28]:
from sklearn.naive_bayes import MultinomialNB

In [29]:
model2 = MultinomialNB()
model2.fit(x_train , y_train)
model2.score(x_test , y_test)

0.985445205479452

In [30]:
user2 = input("enter the text: ")
text2 = vectorizer1.transform([user]).toarray()
output = model2.predict(text)
print(output)

enter the text: മലയാളം
['Malayalam']

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
model3 = RandomForestClassifier()
model3.fit(x_train , y_train)
model3.score(x_test , y_test)

0.9845890410958904

In [33]:
user3 = input("enter the text: ")
text3 = vectorizer1.transform([user]).toarray()
output = model3.predict(text)
print(output)

enter the text: മലയാളം
['Malayalam']

In [34]:
from sklearn.svm import SVC
model4 = SVC()
model4.fit(x_train , y_train)
model4.score(x_test , y_test)

0.9186643835616438

In [35]:
user4 = input("enter the text: ")
text4 = vectorizer1.transform([user]).toarray()
output = model4.predict(text)
print(output)

enter the text: മലയാളം
['Turkish']